$breakPoints:(
    xs : 375px,
    sm : 540px,
    md : 768px,
    lg : 1024px
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakPoints, $breakpoint)) {
        @content;
    }
}