/* Mobile */
.insumosMainMobile {
    overflow: hidden;
    @include media-up(lg) {
        display: none;
    }
    .insumosMainItem {
        .insumosMainItem__img {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            img {
                width: 20rem;
                height: auto;
            }
        }
    }
}


/* Desktop */
.insumosMainDesktop {
    @include media-up(xs) {
        display: none;
    }
    @include media-up(lg) {
        display: block;
        overflow: hidden;
        .insumosMainItem {
            .insumosMainItem__img {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                img {
                    width: 20rem;
                    height: 12rem;
                }
            }
        }
    }
}